/*
cool stuff to do
- darken decimal button if there is already a decimal point in
    display
- highlight buttons on hover
- insert image for backspace

*/
*{
   margin: 0;
   padding: 0;
   background-color: rgb(223, 223, 223);
}
@font-face {
    font-family: digitalSeven;
    src: url('Fonts/digital-7.regular.ttf');
}
body, html {
    height: 100%;
    
}
p {
    /*THIS THING IS BIG. MAKE IT NOT BIG*/
    background-color: rgb(96, 145, 91);
    border-style: solid;
    border-color: black;
    border-width: 4px;
    height: 40px;
    font-family: digitalSeven;
    font-size: 45px;
    width: 400px;
    margin: 0 auto;
}
#page-wrap {
    height: 1000px;
    width: 1000px;
    /*position: absolute;
    top: 10%; 
    left: 25%;
    right: 25%;
    bottom: 25%;
    margin-left: 2%;
    margin-top: 2%;*/
    margin: 0 auto;
    padding-top: 50px;
}

#btn0 {
    grid-area: btn0;
}
#btn1 {
    grid-area: btn1;
}
#btn2 {
    grid-area: btn2;
}
#btn3 {
    grid-area: btn3;
}
#btn4 {
    grid-area: btn4;
}
#btn5 {
    grid-area: btn5;
}
#btn6 {
    grid-area: btn6;
}
#btn7 {
    grid-area: btn7;
}
#btn8 {
    grid-area: btn8;
}
#btn9 {
    grid-area: btn9;
}
#btnDot {
    grid-area: btnDot;
}
#btnDiv {
    grid-area: btnDiv;
}
#btnMult {
    grid-area: btnMult;
}
#btnPls {
    grid-area: btnPls;
}
#btnSub {
    grid-area: btnSub;
}
#btnEq {
    grid-area: btnEq;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: green;
}
#btnBkSp {
    grid-area: btnBkSp;
    font-size: 20px;
}
#btnClear {
    grid-area: btnClear;
    font-size: 20px;
    color: white;
    background-color:red;
}
button {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgb(80, 80, 80);
    color: white;
    font-size: 20px;
}
.buttons {
    display: grid;
    margin: 0 auto;
    width: 400px;
    grid-auto-rows: 50px; /* for demo */
    grid-template-areas: 
        'btnClear btnClear btnBkSp btnDiv'
        'btn7 btn8 btn9 btnMult'
        'btn4 btn5 btn6 btnSub'
        'btn1 btn2 btn3 btnPls'
        'btn0 btnDot btnEq btnEq';
    /*grid-gap: 1px;*/
    border-style: solid;
    border-color: black;
    border-width: 4px;
    
    
    

}
